*{margin: 0; border: 0; box-sizing: border-box;}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
body {
	/*background-image: url('images/long_yellow.jpg');
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
	background-color: #7F645E;
    color: #F9E7F8;
	font: 16px;
}
section#home {
	background-image: url('images/long_red.jpg');
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	height:100vh;
	text-align: center;
}
section#home > img {
	float: left;
	width: 10em;
	padding-left: 1.5em;
	padding-top: 1.5em;
}
nav li a{
	color: #7F645E;
	float: left;
	background-color: #000;
 	list-style-type: none;
 	margin-top: 1em;
 	margin-left: .5em;
 	padding: 1em 1.5em;
    text-decoration: none;
    font-style: italic;
	width: 9em;
	font-size: 1.5em;
 	font-weight: 400;
	font-family: 'Raleway', serif;
}
nav li {
	display: inline;
}
a:hover {
	background-color: #fff;
}
/*li + li {
	margin-left: .5em;
}*/
h1 {
	font-family: 'Megrim', cursive;	font-weight: 400;
	color: #fff;
	font-size: 4em;
}
h2 {
	font-family: 'Megrim', cursive;	font-weight: 400;
	color: #fff;
	font-size: 3em;
}
section#home > h1 {
	padding-top: 7em;
}
/*section#profile {
	background-image: url('images/model_walking.jpg');
	background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-position: center;
	height:100vh;
}
#blurb {
	color: #F9E7F8;
	width: 15em;
	margin: auto
	border-top: 5em;
}
section#profile > h2 {
	font-size: 2em;
}
section#profile > p {
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	font-size: 1em;
}
article {
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	color: #F9E7F8;
	float: left;
	font-size: 1em;
	padding: 1em;
	width: 33.33%;
}
blockquote {
	float: left;
	width: 33.33%;
}*/
section#gallery img {
	border-radius:.2em;
	float:left;
	padding: 1em;
	width: 33.33%;
}
section#education {
	font-weight: bold;
	color: #F9E7F8;
	padding: 2em 5em;
}
#ednav {
	background-color: #F9E7F8;
	border-radius: 2em;
	color: #7F645E;
	display: block;
	font-family: 'Raleway', serif;
	font-size: .85em;
	font-style: bold;
	height: 17em;
	list-style-type: none;
    margin: 0 auto;
    padding: 3.5em 3.5em 0 0;
    width: 60%;
    text-decoration: none;
    text-transform: uppercase;
}
#info {
	padding: 2em;
	text-align: left;
}
section#consulting {
	text-align: left;
	font-weight: bold;
	color: #F9E7F8;
	padding: 2em;
}
#consultnav {
	background-color: #F9E7F8;
	border-radius: 2em;
	color: #7F645E;
	display: list-item;
	font-family: 'Raleway', serif;
	font-size: .85em;
	font-style: bold;
	height: 17em;
	list-style-type: none;
    margin: 0 auto;
    padding: 4.5em 3.5em 0 0;
    width: 60%;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
footer {
	color: #F9E7F8;
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 0;
	text-align: center;
	font-size: .5em;
	text-decoration: none;
	text-transform: uppercase;
}
