* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-image: url('../long_red.jpg');
	background-color: #7F645E;
	background-size: initial;
	background-repeat: no-repeat;
	background-position: center top;
	font-size:16px;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	color: #F9E7F8;
	font-size: 3em;
	padding-top: 10em;
}

h3 {
	text-align: center;
	float: bottom;
	font-family: sans-serif;
	font-weight: bold;
	color: #F9E7F8;
	font-size: 2em;
}

a {
	color: #F9E7F8;
	list-style-type: none;
    margin: 0;
    padding: 20px;
    display: block;
    width: 100px;
    text-decoration: none;
}
li {
 	float: left;
 	font-family: sans-serif;
 	font-style: italic;
 	font-size: 25px;
 	padding-left: 80px;
}

#logo {
	float: left;
	padding-left: 30px;
}
